<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap-theme.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap-icons.css' | relative_url }}">
  {%- feed_meta -%}

  {%- include custom-head.html -%}
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" type="text/javascript"></script>

</head>
