@import "bootstrap/variables";


/* Global Styles */
@media (prefers-color-scheme: dark), (prefers-color-scheme: light) {
    body {
        background-color: var(--bs-not-quite-black);
        color: var(--bs-light);
    }
  }


.navbar {
    background-color: var(--bs-like-gray);
    border-bottom: 2px solid #282c34;
   .navbar-brand {
        color: white;
    }
    .nav-item {
        margin: 0 0 0 0;
    }

    .offcanvas-title {
        color: pink;
    }

    .offcanvas {
        box-shadow: 20px 20px 50px 15px rgba($color: #000000, $alpha: .20);

        background-color: var(--bs-like-gray);

        border-radius: 1rem 0 0 0;
        margin: 1rem 0 0rem 0;
    }

    .offcanvas-body {
        display: flex;
        flex-grow: 0;
        padding: 0 0 0 1.3em;
        overflow-y: visible;
      }

    .offcanvas-bottom {
        height: auto;
        border-top: 0;
        border-bottom: 0;


        display: flex;
        flex-grow: 0;
        padding: 0 0 0 1.3em;
        overflow-y: visible;
    }
}


.cover-container {
    margin: 1em 0 2em 0;


    button {
        cursor: pointer;
        outline: none;
          &.outline {
              position: relative;
              z-index: 3;
              background: transparent;
              color: var(--bs-greyple);
              font-size: 14px;
              border-color: var(--bs-greyple);
              border-style: solid;
              border-width: 2px;
              border-radius: 5px;
              padding: 10px 40px;
              text-transform: uppercase;
              transition: all 0.2s linear;
              a {
                  text-decoration: none;
              }
          }
          &.outline:hover {
              color: pink;
              background: var(--bs-like-gray);
              border-color: pink;
              transition: all 0.2s linear;
          }
          &.outline:active {
              border-radius: 5px;
          }    &.white-pink {
            font-weight: 700;
            color: white;
            border-color: pink;
            background: transparent;
            transition: all 0.2s ease-in-out;

        }
        &.white-pink:hover {
            color: white;
            background: pink;
            border-color: pink;
            transition: all 0.2s ease-in-out;

        }
        }
    .footerText {
        color: pink;
    }

    .px-3  {
        h1 {
            font-size: 4.5rem;
            color: pink;
        }
        .btn-pink {
            background-color: pink;
            color: white;
            font-size: 1.0em;
            font-style: normal;
        } 
        .btn-pink:hover {
            opacity: .5;
        }
        
        .profile-picture {
            border-radius: 100%;
            width: 80%;
            max-width: 7.5em;
            margin: 0 0 1rem 0;
        }

    }
}

.post-list {
    margin: 0 auto;

    .post-list-heading {
        h2 {
        color: pink;
        }
    }
}


/* Components */


.card {
    border-radius: 1rem;
    margin: 0 auto; /* Added */
    margin-bottom: 25px; /* Added */
    max-width: 800px;
    background-color: var(--bs-like-gray);
    color: var(--bs-light);
    box-shadow: 0 3px 26px 0 rgba($color: #000000, $alpha: .20);
    transition: all 0.2s ease-in-out;

    a.card-title {
        color: pink;
        margin-top: 10px;
    }

    .card-img {
        margin-bottom: 25px;
            img {
                box-shadow: 0 3px 26px 0 rgba($color: #000000, $alpha: .20);
                max-width: 100%;
                max-height: 250px;
                width: 100%;
                border-radius: 1rem;
                object-fit: cover;
                aspect-ratio: 1 / 1;
            }
        }
        
    &:hover {
        transform: scale(1.05);
    }
}

.pager {
    .pagination {
        margin: auto;
    }

     button {
        cursor: pointer;
        outline: none;
          &.outline {
              position: relative;
              z-index: 3;
              background: transparent;
              color: var(--bs-greyple);
              font-size: 14px;
              border-color: var(--bs-greyple);
              border-style: solid;
              border-width: 2px;
              border-radius: 5px;
              padding: 10px 40px;
              text-transform: uppercase;
              transition: all 0.2s linear;
              a {
                  text-decoration: none;
              }
          }
          &.outline:hover {
              color: pink;
              background: var(--bs-like-gray);
              border-color: pink;
              transition: all 0.2s linear;
          }
          &.outline:active {
              border-radius: 5px;
          }    &.white-blue {
            font-weight: 700;
            color: #00aeef;
            border-color: white;
            background: white;
        }
        &.white-blue:hover {
            color: white;
            background: #00aeef;
            border-color: white;
        }
        }
}



/* post page */

.post-content {
    line-height: 1.8rem;
}





/* Footer */

.footer {
    background-color: var(--bs-not-quite-black);
    color: var(--bs-light);

    .leftSide {
        font-size: large;
    }

    .rightSide {
        font-size: large;
        direction: rtl;
    }
}