<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="d-flex flex-column w-100 h-100">

    {%- include header.html -%}

    <main class="page-content py-5 flex-shrink-0" aria-label="Content">
      <div class="container">
      {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>

</html>
