---
layout: default
---
<div class="home">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
    <header class="mb-auto">
    </header>

    <main class="px-3">
      <h1>Hello!</h1>
      <a href="https://gitlab.com/Whyherro1/personal-blog" data-bs-toggle="tooltip" title="This blog is open source!">
        <img src="{{ site.author.image }}" alt="" class="profile-picture img-fluid">
      </a>
      <p class="lead">
        {{ site.description }}
      </p>
      <p class="lead">
        <a href="{{ site.url }}/about/" class="">
          <button class="outline white-pink">Learn more</button>
        </a>
      </p>

      {%- include social.html -%}

    </main>

    <footer class="mt-auto text-white-50">
      <p>DEVELOPER / <span class="footerText">DESIGNER</span> / DREAMER</p>
    </footer>
  </div>

  {{ content }}

  
  {% if site.paginate %}
  {% assign posts = paginator.posts %}
  {% else %}
  {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
  {%- if page.list_title -%}
  <h2 class="post-list-heading">{{ page.list_title }}</h2>
  {%- endif -%}
  {%- assign date_format = site.bootstrap.date_format | default: "%b %-d, %Y" -%}
  {%- for post in posts -%}

  <div class="container">
    <div class="row">
      <div class="col-md">
        <div onclick="location.href='{{ post.url | relative_url }}';" class="card" style="cursor: pointer;">
          <div onclick="" class="card-body">
            <div class="col-lg">
              <div class="card-img">
                <img src="{{ post.img }}" alt="" style="" class="img-fluid">
              </div>
            </div>
            <h3>
              <a class="card-title text-decoration-none" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>

            {%- if site.excerpts.show -%}
            {%- if site.excerpts.auto_truncate -%}{{ post.excerpt | truncatewords: 32 }}{%- else -%}{{ post.excerpt }}{%- endif -%}
            {%- endif -%} <br>
            <span class="post-meta text-muted">{{ post.date | date: date_format }}</span>

          </div>
        </div>
      </div>
    </div>
  </div>
  {%- endfor -%}

  {% if site.paginate %}
  <div class="d-flex justify-content-center">
    <div class="pager">
      <ul class="pagination">
        {%- if paginator.previous_page %}
        <li class="p-2 bd-highlight">
          <a href="{{ paginator.previous_page_path | relative_url }}" class="">
            <button type="submit" class="paginate-button outline">Previous Page</button>
          </a>
        {%- endif %}
        {%- if paginator.next_page %}
        <li class="p-2 bd-highlight">
          <a href="{{ paginator.next_page_path | relative_url }}" class="">
            <button class="paginate-button outline">Next Page</button>
          </a>
        </li>

        {%- endif %}
      </ul>
    </div>
  </div>
  {%- endif %}

  {%- endif -%}

</div>